/* Whole document: */
body{
  font-family: Helvetica;
  font-size: 14pt;
  background-color: #FEFFFD
}
/* Headers */
h1,h2,h3,h4,h5,h6{
  font-size: 14pt;
}
body {
    font: normal 15px Verdana, Arial, sans-serif;
}
